@using res = Wheel.User.Properties.Resources
<section id="about">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="title">
                    <h1>@res.aboutUs</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    @Html.Raw(Model.pageContent.GetType().GetProperty(Model.lang).GetValue(Model.pageContent, null))
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer")