 <!-- FOOTER -->
@using res = Wheel.User.Properties.Resources;
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">
                    <img src="~/Public/img/Logo-white.png" alt="">


                </div>
                <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Tel: (012)4657253 Mob: (077)5927444 </p>
                </div>
                <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email: avtoteker@mail.ru </p>
                </div>
                <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Address: Nərimanov rayonu, Yusif Vazir Camanzaminli. (Mona liza restoranın yanı) </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="social float-right">
                    <a href="@res.fbUrl">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="@res.twitterUrl">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <p>
                    © 2016 AVTOTEKER.AZ All Rights Reserved. Powered by <a href="https://www.facebook.com/rufet.qasimov.5">Rufat</a> & <a href="#">Maysara</a>
                </p>
            </div>
        </div>
    </div>
</footer>
