@using System.Web.Optimization
@using res = Wheel.User.Properties.Resources
<!-- META TAGS -->
<meta charset="utf-8">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- PAGE TITLE -->
<title>@res.siteName | @res.siteSlogan</title>
<meta name="description" content="Təkərlərin online satışı və sifarişi" />
<meta name="keywords" content="təkər, təkər satışı, təkər qiymətləri, Azərbaycanda təkər, təkərlərin sifarişi, təkər sifarişi, təkər, sifariş, online təkər satışı, online təkər sifarişi, şin, kamer" />
<!-- LINK TAGS -->
<link rel="canonical" href="index.html" />
<link rel="manifest" href="/Content/favicon/manifest.json">
<!-- GOOGLE FONTS -->
<!-- CSS -->

@Styles.Render("~/bundles/HomeStyle")

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="~/Public/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="~/Public/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/Public/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/Public/css/style.css">
<!--[if IE 9]>
<link href="//cdn.shopify.com/s/files/1/0889/3312/t/2/assets/ie9.css?13524589914949478127" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
<!-- JS -->

<script src="https://code.jquery.com/jquery-migrate-1.2.1.js"
        integrity="sha256-WFZLwje2g/SCw6gt7wWfJ7K+QRCdI316I4AHS1tPIr4="
        crossorigin="anonymous"></script>
<script src="http://cdn.shopify.com/s/shopify/api.jquery.js">// api.jquery.js</script>
<script src="https://cdn.css.net/libs/device.js/0.1.61/device.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/jquery.hoverintent/r7/jquery.hoverIntent.minified.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.3/superfish.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="~/Scripts/sf-Touchscreen.js"></script>
<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified JavaScript -->
<script src="//cdn.rawgit.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAUUQdy5XtUuo0wzvwKmm-qjgBo5hVICVA"></script>
<script src="~/Public/js/bootstrap-slider.min.js"></script>
<script src="~/Public/js/owl.carousel.min.js"></script>
<script src="~/Public/js/script.js"></script>



<script>
    // tm-stick-up.js ******************************************************************************************************************
    !function (o) { o.fn.tmStickUp = function (t) { function e() { a = parseInt(n.offset().top), d = parseInt(n.css("margin-top")), u = parseInt(n.outerHeight(!0)), o('<div class="pseudoStickyBlock"></div>').insertAfter(n), s = o(".pseudoStickyBlock"), s.css({ position: "relative", display: "block" }), c() } function c() { p.on("scroll", function () { r = o(this).scrollTop(), g = r > h ? "down" : "up", h = r, correctionValue = i.correctionSelector.outerHeight(!0), f = parseInt(l.scrollTop()), a - correctionValue < f ? (n.addClass("isStuck"), n.css({ position: "fixed", top: correctionValue }), s.css({ height: u })) : (n.removeClass("isStuck"), n.css({ position: "relative", top: 0 }), s.css({ height: 0 })), o(".cart_popup").css("top", s.innerHeight()) }).trigger("scroll") } var i = { correctionSelector: o(".correctionSelector") }; o.extend(i, t); var s, r, n = o(this), l = o(window), p = o(document), a = 0, u = 0, d = 0, f = 0, h = 0, g = ""; e() } }(jQuery);


    //<![CDATA[
    var Shopify = Shopify || {};
    Shopify.shop = "theme177-wheels.myshopify.com";
    Shopify.theme = { "name": "theme177", "id": 31613507, "theme_store_id": null, "role": "main" };

    //]]>
</script>
<script id="__st">
    //<![CDATA[
    var __st = { "a": 8893312, "offset": -18000, "reqid": "c6df954e-9ada-4d7d-ae66-a5536d930e8c", "pageurl": "theme177-wheels.myshopify.com\/", "u": "23c47efe9d03", "p": "home" };
    //]]>
</script>
<script>
    //<![CDATA[
    //(function () {
    //    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
    //    s.src = '../cdn.shopify.com/s/javascripts/shopify_stats1bce.js?v=6';
    //    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    //})();

    //]]>
</script>
<script type="text/javascript">

    window.ShopifyAnalytics = window.ShopifyAnalytics || {};
    window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
    window.ShopifyAnalytics.meta.currency = 'USD';
    var meta = {};
    for (var attr in meta) {
        window.ShopifyAnalytics.meta[attr] = meta[attr];
    }

</script>
<script type="text/javascript">
    window.ShopifyAnalytics.merchantGoogleAnalytics = function () {

    };
</script>
<script type="text/javascript" class="analytics">



    (function () {
        var customDocumentWrite = function (content) {
            var jquery = null;

            if (window.jQuery) {
                jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
                jquery = window.Checkout.$;
            }

            if (jquery) {
                jquery('body').append(content);
            }
        };

        window.__shopify_trekkie_canary = true;

        var trekkie_version = '2016.11.01.1';
        var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
        if (trekkie.integrations) {
            return;
        }
        trekkie.methods = [
            'identify',
            'page',
            'ready',
            'track',
            'trackForm',
            'trackLink'
        ];
        trekkie.factory = function (method) {
            return function () {
                var args = Array.prototype.slice.call(arguments);
                args.unshift(method);
                trekkie.push(args);
                return trekkie;
            };
        };
        for (var i = 0; i < trekkie.methods.length; i++) {
            var key = trekkie.methods[i];
            trekkie[key] = trekkie.factory(key);
        }
        trekkie.load = function (config) {
            trekkie.config = config;
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.onerror = function (e) { (new Image()).src = 'http://v.shopify.com/internal_errors/track?error=trekkie_load'; };
            script.async = true;
            script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.' + config.Trekkie.appName + '.min.js?v=' + trekkie_version;
            var first = document.getElementsByTagName('script')[0];
            first.parentNode.insertBefore(script, first);
        };
        trekkie.load(
            { "Trekkie": { "appName": "storefront", "environment": "production", "defaultAttributes": { "shopId": 8893312 } }, "Performance": { "navigationTimingApiMeasurementsEnabled": true, "navigationTimingApiMeasurementsSampleRate": 0.001 } }
        );

        var loaded = false;
        trekkie.ready(function () {
            if (loaded) return;
            loaded = true;

            window.ShopifyAnalytics.lib = window.trekkie;


            var originalDocumentWrite = document.write;
            document.write = customDocumentWrite;
            try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch (error) { };
            document.write = originalDocumentWrite;


            window.ShopifyAnalytics.lib.page(
                null,
                { "pageType": "home" }
            );


        });


        var eventsListenerScript = document.createElement('script');
        eventsListenerScript.async = true;
        //eventsListenerScript.src = "../cdn.shopify.com/s/assets/shop_events_listener-0f0d4352f69ee7a261e3c3adb4119f7887f607806e48f1306c3cefb38b33775f.js";
        document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

    })();
</script>
