 <!-- FOOTER -->
@using res = Wheel.User.Properties.Resources;
<footer class="service-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo">
                    <img src="~/Public/img/Logo.png" alt="">

                </div>
                <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Tel: (012)4657253 &nbsp; Mob: (077)5927444 </p>
                </div>
                <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email: avtoteker@mail.ru </p>
                </div>
                <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>@res.location</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="social float-right">
                    <p>@res.followUs</p>
                    <a href="https://www.facebook.com/avtoteker.az/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/avtoteker.az_/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <p>
                    © 2016 AVTOTEKER.AZ @res.allRights <a href="https://www.facebook.com/rufet.qasimov.5">Rufat</a> & <a href="#">Maysara</a>
                </p>
            </div>
        </div>
    </div>
</footer>

