#about{
    padding: 100px 0;
    .title{
        margin-bottom: 81px;
        text-align: center;
     
     
    }
    .content{
        p{
            margin-bottom: 25px;
            font-size: 26px;
            line-height: 35px;
            color: #4A4A4A;
            text-align: justify;
        }
    }
}