#about{
    padding: 100px 0;
    .title {
        margin-bottom: 81px;
        text-align: center;
        padding: 88px 165px 88px 140px;
        display: inline-block;
        background: url("../img/group-3.png") no-repeat center center;
        background-size: cover;
        h1 {
            color: #4A4A4A;
            font-family: "Visby CF";
            font-size: 65px;
            font-weight: 800;
            line-height: 35px;
            text-align: center;
        }
    }
    .content{
        p{
            margin-bottom: 25px;
            font-size: 26px;
            line-height: 35px;
            color: #4A4A4A;
            text-align: justify;
        }
    }
}