#tyres{
    padding: 100px 0;
    .title{
        margin-bottom: 81px;
        text-align: center;
        padding: 88px 165px 88px 140px;
        display: inline-block;
        background: url("../img/group-3.png") no-repeat center center ;
        background-size: cover;
        h1{
            color: #4A4A4A;	
            font-family: "Visby CF";	
            font-size: 65px;	
            font-weight: 800;	
            line-height: 35px;	
            text-align: center;
        }
     
    }
    .products{
        margin-top: 51px;
    }
    .sorting{
        border-radius: 7px;	
        background-color: #1345D5;
        display: flex;
        justify-content: flex-end;
        .sort,.sort-button{
            display: flex;
            margin: 15px 44px 5px 0;
            p{

                color: #FFFFFF;	
                font-family: "Visby CF";	
                font-size: 20px;	
                font-weight: 800;	
                line-height: 24px;
                width: 90px;
                margin-top: 8px;
            }
            select{
               
            }
        }
        .btn-sort{
            position: relative;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: transparent;
    color: #FFFFFF;
    font-weight: 800;
    padding: 3px 35px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-bottom: 11px;
        }
    }
    .product-box{
        margin-bottom: 84px;
        &:hover .details{
         color: $white;
         background: $blue;
         border-color: $blue;
         box-shadow: 0 0 8px 0 rgba(19,69,213,0.45);
        }
         .brand{
             margin-top: 30px;
             h6{
                 color: #4A4A4A;
                 font-size: 18px;
                 font-weight: 800;
                 line-height: 21px;
             }
         }
         .size{
             p{
                 color: #4A4A4A;
                 font-size: 15px;
                 font-weight: 500;
                 line-height: 18px;
             }
         }
         .price{
             p{
                 color: #4A4A4A;
                 font-size: 20px;
                 font-weight: 800;
                 line-height: 24px;
             }
         }
         .details{
             border: 1px solid #1345D5;
                 border-radius: 3px;
                 color: #1345D5;
                 padding: 7px 23px;
           
         }
     }
     .upper{
         box-shadow: 0 10px 0 #fff, 0 0 10px #ccc;
      
         .img{
             img{
                 width: 100%;
                 height: 100%;
                 
             }
         }
     }

     .page-item.active .page-link{
         background: $blue;
         color: $white;
     }
     .page-link{
         color: #4A4A4A;
         border: none;
         font-size: 17px;
         font-weight: 500;
         padding: 1px 6px;
         margin: 8px;
         i{
             color: $blue;
         }
     }
     .next:hover,.prev:hover{
         background: $blue;
            i{
                color: $white;
            }
     }
}