.deactive {
  display: none !important; }
.modal-header{
    display:flex;
    justify-content:space-between;
}
#tawkchat-minified-wrapper{
    display:none !important;
}
.page-item.num {
    display: none;
}

#frontPanel li, #rearPanel li {
    display: inline;
}

body {
  font-weight: 800 !important;
 font-family: 'Roboto', sans-serif !important;

}

footer .logo img {
  width: 172px; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important; }

button, a {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

a:hover {
  text-decoration: none;
  color: none; }

button:focus, input:focus, textarea:focus {
  outline: none;
  border: none; }

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important; }

#google_map {
  height: 500px !important;
  width: 100%; }



#search {
    padding: 30px 0;
    background-color: #1345D5;
}
.tab-search .dropdown-menu{
    transform:none !important;
    min-width: 100% !important;
    top:38px !important;
    max-height:240px;
}

.tab-search .name {
    text-align: left;
}

.tab-search .name p{
    display: inline-block;
    margin-left:10px;
}
.tab-search .name img {
    width: 40px;
    height: 40px;
}

.search-area .title {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    margin-bottom: 34px;
}

.search-area .tab-list {
    margin-bottom: 44px;
}

    .search-area .tab-list a {
        display:inline-block;
        padding: 18px 107px;
        border-radius: 3px;
        background-color: #F7F7F7;
        margin: 0 10px;
        color: #4A4A4A;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        border: 1px solid #FFFFFF;
    }

        .search-area .tab-list a:hover {
            color: #F7F7F7;
            border: 1px solid #FFFFFF;
            background: transparent;
        }

.search-area .tab-content {
    display: none;
}

    .search-area .tab-content.active {
        display: block;
    }

.search-area .tab-search .name {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    margin-bottom: 15px;
}

.search-area .btnSearch {
    border-radius: 3px;
    background-color: #F7F7F7;
    padding: 13px 95px;
    margin-top: 54px;
    border: 1px solid #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}

    .search-area .btnSearch:hover {
        color: #F7F7F7;
        border: 1px solid #FFFFFF;
        background: transparent;
    }

.search-area .Reset {
    display: block;
    margin-top: 5px;
    color: #FFFFFF;
}

#slider {
    position: relative;
}

    #slider .single-slider {
       height:619px
    }
        #slider .single-slider img{
            height:100%;
        }
        #slider .owl-dots {
            position: absolute;
            bottom: 46px;
            left: 50%;
            transform: translateX(-50%);
        }

        #slider .owl-dots .owl-dot span {
            background-color: rgba(222, 222, 222, 0.6);
        }

        #slider .owl-dots .owl-dot.active span {
            width: 13px;
            height: 13px;
            background-color: #FFFFFF !important;
        }

#header .top {
    background: #FFFFFF;
    margin-bottom:-1px;
}
#header{
    position:sticky;
    top:0;
    z-index:999;
}


#header .top .social {
  display: inline-block; }
  #header .top .social a i {
    width: 25px;
    height: 25px;
    background: #1345D5;
    color: #FFFFFF;
    text-align: center;
    border-radius: 100%;
    line-height: 1.5;
    margin: 10px 0; }
  #header .top .social a:hover {
    text-decoration: none; }
  #header .top .social a:nth-of-type(2) {
    margin-left: 9px; }
#header .top .contact {
  display: inline-block;
  margin-left: 21px; }
  #header .top .contact i {
    transform: rotateY(180deg);
    font-size: 16px;
    color: #1345D5;
    margin-right: 5px; }
  #header .top .contact p {
    display: inline-block; }
#header .top .search-lang {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; }
.search-box {
    margin-bottom: 4px;
    position: relative;
    margin-right: 15px;
}
    .search-box input {
      border-radius: 11.34px;
      background-color: #F2F2F2;
      padding: 2px 20px;
      font-weight: 500;
      border: none; }
    .search-box i {
      position: absolute;
      right: 10px;
      top: 6px;
      color: #1345D5; }
     .search-box input::placeholder {
     font-family: 'Roboto', sans-serif; }
  #header .top .search-lang .language-selector {
    margin-top: -2px; }
    #header .top .search-lang .language-selector img {
      transform: scale(1.5);
      margin-top: -1px;
      margin-right: 4px; }
    #header .top .search-lang .language-selector button {
      color: #4A4A4A;
      background: white;
      border: none;
      font-weight: 800;
      padding: 0;
      font-size: 21px; }
      #header .top .search-lang .language-selector button:focus {
        outline: none;
        border: none;
        box-shadow: none; }
      #header .top .search-lang .language-selector button::after {
        margin-left: 5px;
        color: #1345D5;
        vertical-align: 0.2em; }
    #header .top .search-lang .language-selector .dropdown-menu {
      transform: translate3d(9px, 31px, 0px) !important;
      min-width: 6rem; }
      #header .top .search-lang .language-selector .dropdown-menu .dropdown-item.active {
        background: #1345D5 !important; }
#header .bottom .navbar {
  background: #FFFFFF !important; }
    .navbar-brand{
            margin-right:5rem !important;
    }
        .navbar-brand img {
            width: 175px;
        }
  #header .bottom .navbar .nav-item {
    margin-right: 20px; }
    #header .bottom .navbar .nav-item .nav-link {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        white-space: nowrap;
        font-size: 18px !important;
        font-weight: 500 !important;
        color: #1345D5 !important;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
      #header .bottom .navbar .nav-item .nav-link:hover {
        background: #FFFFFF;
        color: #1345D5 !important; }
  #header .bottom .navbar .log-reg .btn-sign button:first-of-type {
    border: 1px solid transparent !important; }
  #header .bottom .navbar .log-reg .btn-sign button:first-of-type:hover {
    background: #FFFFFF;
    color: #1345D5;
    border: 1px solid #1345D5 !important; }
  #header .bottom .navbar .log-reg .btn-sign .btn-cancel:hover {
    background: #1345D5 !important;
    color: #FFFFFF !important; }
  #header .bottom .navbar .log-reg .btn-group:first-child {
    margin-right: 25px; }
#header .bottom .navbar .log-reg .dropdown-toggle {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #1345D5;
    border-radius: 5px;
    background: transparent;
    color: #1345D5;
    font-weight: 800;
    padding: 3px 35px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
    #header .bottom .navbar .log-reg .dropdown-toggle:hover {
        color: #FFFFFF !important;
        background: #1345D5 !important;
    }
    #header .bottom .navbar .log-reg .dropdown-toggle::after {
      display: none; }
  #header .bottom .navbar .log-reg .dropdown-menu {
    min-width: 18rem;
    padding: 0;
    margin-top: 18px; }
    #header .bottom .navbar .log-reg .dropdown-menu::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: 24px;
      top: -9px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white; }
    #header .bottom .navbar .log-reg .dropdown-menu form {
      padding-top: 0 !important; }
      #header .bottom .navbar .log-reg .dropdown-menu form .btn {
        background: #1345D5;
        border: none; }
      #header .bottom .navbar .log-reg .dropdown-menu form input {
        border-radius: 7px;
        background-color: #FFFFFF;
        box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.5); }
    #header .bottom .navbar .log-reg .dropdown-menu p {
      font-weight: 800;
      font-size: 16px;
      color: #1345D5;
      margin: 11px 16px; }
  #header .bottom .navbar .log-reg .dropdown-register {
    min-width: 35rem; }
  #header .bottom .navbar .log-reg .btn-cancel {
    margin-left: 12px;
    color: #1345D5 !important;
    border: 0.81px solid #1345D5 !important;
    border-radius: 2.43px;
    background: #FFFFFF !important; }



@media (min-width: 1200px) {
    #slider .single-slider{
        height:450px;
    }
  .container {
    max-width: 1160px; } }
@media (max-width: 1200px) {
    #header .bottom .navbar .log-reg .dropdown-toggle{
        padding:3px 35px;
    }
    .nav-item {
        margin-right: 13px !important;
    }

  .contact-form .btn-group {
    margin-top: 26px; } }

@media only screen and (min-device-width: 992px) and (max-device-width: 1200px){
   .search-area .tab-list a{
        font-size:14px;
    }
         .search-area .tab-list a:first-of-type{
            margin-right:15px;
        }
}



@media (min-width: 992px) {
  .nav-link {
    padding: 26px 5px 18px !important;
    margin-bottom: 13px; }

  .navbar {
    padding: 0 1rem; } }
@media (max-width: 992px) {
    .search-area .tab-list a:first-of-type {
        margin-bottom: 25px;
    }
    #slider .single-slider {
        height: 400px;
    }
    .search-area .tab-list a {
        padding: 18px 75px;
    }
    #services-page .row.justify-content-end {
        position: relative;
    }
    #services-page .row.justify-content-end .row {
      position: static !important; }

  .service-footer {
    margin-top: 0 !important; }

  .service-footer.active {
    margin-top: 0 !important; }

  .sorting {
    justify-content: center !important; }
    .sorting .sort-button {
      margin: 0 !important; }

  #services .col-lg-4 {
    margin-bottom: 40px !important; }

  #tyres .sort {
    margin: 15px 44px 5px 15px !important; }

  #tyres .sorting .sort p:first-of-type {
    margin-right: 7px; }

  .contact-form {
    margin-top: 40px; }

  .dropdown-login {
    left: 0 !important;
    right: auto !important;
    min-width: 266px !important;
    margin-top: 9px !important; }
    .dropdown-login::before {
      left: 24px;
      top: -8px; }

  .dropdown-register {
    min-width: 266px !important;
    margin-top: 9px !important; }
    .dropdown-register::before {
      right: 24px;
      top: -8px; }

  .top {
    margin-bottom: 25px; }

  .top .social-contact {
    text-align: center; }

  .top .search-lang {
    justify-content: center !important; } }


@media (max-width:768px){
    #slider .single-slider{
        height:305px;
    }
    .search-area .tab-list a {
        display: inherit;
        white-space: nowrap;
        padding: 18px 0;
    }
        .search-area .tab-list a:first-of-type {
            margin-bottom: 25px;
        }
}
@media (max-width:756px){
    .search-lang{
        margin-top:0 !important
    }
}

@media (max-width: 576px) {
    .search-area .tab-list a{
        font-size:18px;
    }
    #slider .single-slider {
        height: 220px;
    }
    #services .title h1{
        font-size:35px !important;
    }
    .search-area .title h1 {
        font-size: 50px !important;
        line-height: 66px !important;
    }

  .owl-prev {
    left: -14px !important; }

  .single-brand-logo {
    margin-right: 20px !important; }

 

  /*HEAD*/
  #about .title {
    padding: 52px 20px 52px 34px !important; }


  #services-page .title {
    padding: 52px 20px 52px 34px !important; }

  #contact .title {
    padding: 52px 40px 52px 40px !important; } }
@media (max-width: 351px) {
  .navbar .navbar-collapse {
    margin-left: 1rem !important; }

  .top .search-lang {
    flex-wrap: wrap; }

  .language-selector {
    margin-top: 15px !important; } }


.form-group.range-slider {
  position: relative; }
  .form-group.range-slider .slider {
    width: 97% !important;
    margin-bottom: 12px; }
    .form-group.range-slider .slider .slider-handle {
        top:2px !important;
      height: 16px;
      width: 16px;
      background-color: #1345D5;
      background-image: none; }
    .form-group.range-slider .slider .slider-selection {
      background: #171C2A; }
  .form-group.range-slider p {
    text-align: left;
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px; }
  .form-group.range-slider .tooltip.in {
    opacity: 0.9; }
  .form-group.range-slider b:first-of-type {
    left: 0px; }
  .form-group.range-slider b:last-of-type {
    right: 0; }
  .form-group.range-slider b {
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: 55px; }

#season {
  padding: 44px 0 0 0; }
  #season .season-box {
    margin-bottom: 50px; }
    #season .season-box .upper {
      border-radius: 7px 7px 0 0;
      background-color: #F7F7F7; }
    #season .season-box .img {
      background-color: #F7F7F7;
      padding: 29px 39px 23px;
      overflow: hidden;
      height: 250px; }
      #season .season-box .img img {
        width: 97%;
        height: 100%;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
    #season .season-box .lower {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      background: #1345D5;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
      #season .season-box .lower h3 {
        line-height: 24px;
        font-size: 20px;
        text-transform: capitalize;
        color: #FFFFFF;
        font-weight: 800; }
    #season .season-box:hover img {
      transform: scale(1.2); }

#brand-carousel {
  background-color: #F7F7F7;
  padding: 20px 0 9px 0; }
  #brand-carousel .single-brand-logo {
    margin-right: 40px; }
  #brand-carousel img {
    width: 100%;
    height: 60px;
    vertical-align: middle; }
  #brand-carousel .owl-nav {
    display: block !important; }
  #brand-carousel:hover .owl-nav .owl-prev {
    opacity: 1;
    visibility: visible; }
  #brand-carousel:hover .owl-nav .owl-next {
    opacity: 1;
    visibility: visible; }
  #brand-carousel .owl-nav .owl-prev, #brand-carousel .owl-next {
    color: #1345D5 !important;
    border-radius: 3px;
    font-size: 25px !important;
    height: 25px;
    line-height: 20px !important;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 25px;
    opacity: 0;
    visibility: hidden; }
    #brand-carousel .owl-nav .owl-prev:focus, #brand-carousel .owl-next:focus {
      outline: none; }
    #brand-carousel .owl-nav .owl-prev:hover, #brand-carousel .owl-next:hover {
      background-color: #1345D5 !important;
      color: #FFFFFF !important; }
  #brand-carousel .owl-next {
    left: auto;
    right: 0px; }
  #brand-carousel .owl-prev {
    right: auto;
    left: -30px; }

#brand-carousel {
  background-color: #F7F7F7;
  padding: 20px 0 9px 0; }
  #brand-carousel .single-brand-logo {
    margin-right: 40px; }
  #brand-carousel img {
    width: 100%;
    height: 60px;
    vertical-align: middle; }
  #brand-carousel .owl-nav {
    display: block !important; }
  #brand-carousel:hover .owl-nav .owl-prev {
    opacity: 1;
    visibility: visible; }
  #brand-carousel:hover .owl-nav .owl-next {
    opacity: 1;
    visibility: visible; }
  #brand-carousel .owl-nav .owl-prev, #brand-carousel .owl-next {
    color: #1345D5 !important;
    border-radius: 3px;
    font-size: 25px !important;
    height: 25px;
    line-height: 20px !important;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 25px;
    opacity: 0;
    visibility: hidden; }
    #brand-carousel .owl-nav .owl-prev:focus, #brand-carousel .owl-next:focus {
      outline: none; }
    #brand-carousel .owl-nav .owl-prev:hover, #brand-carousel .owl-next:hover {
      background-color: #1345D5 !important;
      color: #FFFFFF !important; }
  #brand-carousel .owl-next {
    left: auto;
    right: 0px; }
  #brand-carousel .owl-prev {
    right: auto;
    left: -30px; }

#find-all {
  position: relative;
  padding: 163px 0;
  background: url("../img/car-back.jpg") no-repeat center bottom;
  background-size: cover; }
  #find-all .overlay {
    opacity: 0.6;
    background-color: #000000; }
  #find-all h2 {
    font-size: 70px;
    color: #FFFFFF;
    line-height: 78px;
    font-weight: 800; }
  #find-all h4 {
    font-weight: 800;
    font-size: 35px;
    color: #FFFFFF;
    line-height: 78px;
    margin-bottom: 50px; }
  #find-all a {
    margin-top: 50px;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 13px 40px 18px;
    background-color: #1345D5;
    box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45); }
    #find-all a:hover {
      background: #FFFFFF;
      color: #1345D5; }

#products {
  }
  #products .title {
    margin-bottom: 53px;
    font-weight: 800;
    color: #4A4A4A;
    font-size: 30px; }
  #products .product-box {
    margin-bottom: 84px; }
    #products .product-box:hover .details {
      color: #FFFFFF;
      background: #1345D5;
      border-color: #1345D5;
      box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45); }
    #products .product-box .brand {
      margin-top: 30px; }
      #products .product-box .brand h6 {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px; }
    #products .product-box .size p {
      color: #4A4A4A;
      font-size: 15px;
      font-weight: 500;
      white-space:nowrap;
      line-height: 18px; }
    .price {
      margin-bottom: 20px; }
      .price span {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        margin-right: 5px; }
     .price span.line-through {
        text-decoration: line-through;
        color: #777777; }
    #products .product-box .details {
      border: 1px solid #1345D5;
      border-radius: 3px;
      color: #1345D5;
      padding: 7px 23px; }
  #products .upper {
    box-shadow: 0 10px 0 #fff, 0 0 10px #ccc; }
    #products .upper .img{
        height:260px;
    }
    #products .upper .img img {
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

#services {
  position: relative;
  background: url("../img/services-back.jpg") no-repeat center bottom;
  background-size: cover;
  padding-top: 67px; }
  #services .overlay {
    opacity: 0.48;
    background-color: #000000; }
  #services .col-lg-12 .title {
    margin-bottom: 100px; }
    #services .col-lg-12 .title h1 {
      line-height: 61px;
      font-size: 50px;
      color: #FFFFFF;
      font-weight: 800; }
  #services .col-lg-6 {
    margin-bottom: 107px; }
    #services .col-lg-6 .title h6 {
      color: #FFFFFF;
      font-weight: 500; }
    #services .col-lg-6 .content p {
      text-align: justify;
      font-weight: 500;
      padding:0 55px;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 18px; }
    #services .col-lg-6:first-child .content p {
        color: red;
    }

        #terms {
            padding-top: 47px;
        }
  #terms .box {
    border: 1px solid #9797974a;
    padding: 38px 34px;
    margin-bottom: 47px;
    border-radius: 24px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #terms .box .icon {
      margin-bottom: 23px; }
      #terms .box .icon i {
        font-size: 47px;
        color: #1345D5;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      #terms .box .icon .fa-phone {
        transform: rotateY(180deg); }
    #terms .box .title p {
      font-size: 14px;
      line-height: 25px;
      color: #4A4A4A;
      font-weight: 800;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #terms .box .content p {
        white-space:nowrap;
      font-size: 14px;
      line-height: 25px;
      color: #4A4A4A;
      font-weight: 500;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #terms .box:hover {
      background: #1345D5;
      box-shadow: 0 0 10px 0 rgba(0, 47, 183, 0.59); }
      #terms .box:hover .icon i {
        color: #FFFFFF; }
      #terms .box:hover p {
        color: #FFFFFF; }

footer {
  background-color: #F7F7F7;
  padding-top: 40px; }
  footer .logo {
    margin-bottom: 36px; }
  footer .info {
    display: flex; }
    footer .info i {
      color: #1345D5;
      font-size: 15px;
      margin-right: 7px;
      margin-top: 5px; }
    footer .info .fa-phone {
      transform: rotateY(180deg); }
  footer .social {
    display: inline-block; }
    footer .social p{
        margin-bottom :0;
    }
    footer .social a i {
        width: 25px;
        height: 25px;
        background: #1345D5;
        color: #FFFFFF;
        text-align: center;
        border-radius: 100%;
        line-height: 1.5;
        margin: 10px 0;
    }
    footer .social a:hover {
      text-decoration: none; }
    footer .social a:nth-of-type(2) {
      margin-left: 9px; }
  footer .col-lg-12 p {
    color: #4A4A4A;
    font-family: 'Roboto', sans-serif ;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px; }

#about {
  padding: 100px 0; }
  #about .title {
    margin-bottom: 81px;
    text-align: center;
    padding: 88px 165px 88px 140px;
    display: inline-block;
    background-size: 85% 85%; }
    #about .title h1 {
      color: #4A4A4A;
      font-family: 'Roboto', sans-serif ;
      font-size: 65px;
      font-weight: 800;
      line-height: 35px;
      text-align: center; }
  #about .content p {
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 35px;
    color: #4A4A4A;
    text-align: justify; }

.row.blue-back {
    background: #1345D5;
    margin:0 0 30px 0 !important;
}
.row.blue-back .search-area {
    padding: 30px 0;
}
#tyres {
  padding: 0px 0 50px; }
  
  
  #tyres .products {
    margin-top: 51px; }
  #tyres .sorting {
    border-radius: 7px;
    background-color: #1345D5;
    display: flex;
    justify-content: flex-end; }
    #tyres .sorting .sort, #tyres .sorting .sort-button {
      display: flex;
      margin: 15px 44px 5px 0; }
      #tyres .sorting .sort p, #tyres .sorting .sort-button p {
          white-space:nowrap;
          margin-right:10px;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif ;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        margin-top: 8px; }
    #tyres .sorting .btn-sort {
      position: relative;
      cursor: pointer;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      background: transparent;
      color: #FFFFFF;
      font-weight: 800;
      padding: 3px 35px;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      margin-bottom: 11px; }
  #tyres .product-box {
    margin-bottom: 84px; }
    #tyres .product-box:hover .details {
      color: #FFFFFF;
      background: #1345D5;
      border-color: #1345D5;
      box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45); }
    #tyres .product-box .brand {
      margin-top: 30px; }
      #tyres .product-box .brand h6 {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px; }
    #tyres .product-box .size p {
      color: #4A4A4A;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px; }
    #tyres .product-box .price p {
      color: #4A4A4A;
      font-size: 20px;
      font-weight: 800;
      line-height: 24px; }
    #tyres .product-box .details {
      border: 1px solid #1345D5;
      border-radius: 3px;
      color: #1345D5;
      padding: 7px 23px; }
    #tyres .upper {
        box-shadow: 0 10px 0 #fff, 0 0 10px #ccc
    }
  
    #tyres .upper .img img {
        width: 100%;
        height: 100%;
    }
  #tyres .page-item.active .page-link {
    background: #1345D5;
    color: #FFFFFF; }
  #tyres .page-link {
    border-radius: 0.25rem;
    color: #4A4A4A;
    border: none;
    font-size: 17px;
    font-weight: 500;
    padding: 1px 6px;
    margin: 8px; }
    #tyres .page-link i {
      color: #1345D5; }
  #tyres .next:hover, #tyres .prev:hover {
    background: #1345D5; }
    #tyres .next:hover i, #tyres .prev:hover i {
      color: #FFFFFF; }

#contact {
  padding: 100px 0; }
  #contact .title {
    margin-bottom: 81px;
    text-align: center;
    padding: 88px 165px 88px 140px;
    display: inline-block;
    background: url("../img/group-3.png") no-repeat center center;
    background-size: 85% 85%; }
    #contact .title h1 {
      color: #4A4A4A;
      font-family: 'Roboto', sans-serif ;
      font-size: 65px;
      font-weight: 800;
      line-height: 35px;
      text-align: center; }
  #contact .contact-box {
    background: #1345D5;
    padding: 103px 115px 85px 44px; }
    #contact .contact-box .content p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif ;
      font-size: 16px;
      font-weight: 800;
      line-height: 25px;
      text-align: left; }
  #contact .contact-form input, #contact .contact-form textarea {
    display: block;
    border-radius: 7px;
    background-color: #F6F6F6;
    border: none;
    width: 100%;
    padding: 10px 12px; }
  #contact .contact-form button {
    padding: 7px 33px;
    border: none;
    border-radius: 3px;
    margin-right: 15px; }
  #contact .contact-form button:first-of-type {
    background: #1345D5;
    color: #FFFFFF; }
    #contact .contact-form button:first-of-type:hover {
      box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45); }
  #contact .contact-form button:last-of-type {
    background: #FFFFFF;
    color: #1345D5;
    border: 1px solid #1345D5; }
    #contact .contact-form button:last-of-type:hover {
      box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45); }

#map {
  margin-bottom: 105px; }
  #map .container #google_map {
    border-radius: 7px; }

#services-page {
  padding: 100px 0; }
  #services-page .title {
    margin-bottom: 81px;
    text-align: center;
    padding: 88px 165px 88px 140px;
    display: inline-block;
    background-size: 85% 85%; }
    #services-page .title h1 {
      color: #4A4A4A;
      font-family: 'Roboto', sans-serif ;
      font-size: 65px;
      font-weight: 800;
      line-height: 35px;
      text-align: center; }
  #services-page .service-box {
    margin-bottom: 125px; }
    #services-page .service-box .img {
      display: inline-block;
      padding: 29px;
      margin-bottom: 30px;
      background-color: #F7F7F7;
      box-shadow: 0 0 13px 0 rgba(176, 176, 176, 0.44);
      border-radius: 100%;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      #services-page .service-box .img:hover {
        background-color: #1345D5;
        box-shadow: 0 0 13px 0 rgba(176, 176, 176, 0.44); }
      #services-page .service-box .img img:last-of-type {
        display: none; }
    #services-page .service-box h4 {
      color: #4A4A4A;
      font-family: 'Roboto', sans-serif ;
      font-size: 17px;
      font-weight: 800;
      line-height: 20px; }
  #services-page .service-img {
    position: relative; }
  #services-page .row.justify-content-end {
    position: relative; }
    #services-page .row.justify-content-end .row {
      position: absolute;
      z-index: 5;
      top: 75%;
      left: 0; }
  #services-page .service-text {
    background-color: #1345D5;
    box-shadow: 0 7px 23px 0 rgba(0, 0, 0, 0.3);
    padding: 17px 26px; }
    #services-page .service-text p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif ;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      text-align: justify; }
    #services-page .service-text .moreBtn {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif ;
      font-size: 16px;
      font-weight: 800;
      line-height: 19px;
      text-decoration: underline; }

.service-footer {
  margin-top: 150px; }

.service-footer.active {
  margin-top: 330px; }

#product {
  padding: 0 0 50px 0; }
 
 
    #product .product-img img {
      width: 100%;
      height: 100%; }
  #product .product-info {
    margin-top: 35px; }
    #product .product-info h3 {
        color: #4A4A4A;
        font-family: 'Roboto', sans-serif;
        font-size: 27px;
        font-weight: 800;
        line-height: 24px;
    }
    #product .product-info h4 {
        color: #4A4A4A;
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        font-weight: 500;
        line-height: 21px;
    }
    #product .product-info p {
        color: #4A4A4A;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
    }
  #product .feature {
    border: 1.06px solid #979797;
    border-radius: 7px; }
    #product .feature ul {
      padding-left: 0;
      margin-bottom: 0; }
      #product .feature ul li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 12px;
        border-bottom: 1px solid #979797; }
        #product .feature ul li p {
          color: #444444;
          font-family: 'Roboto', sans-serif ;
          font-size: 17px;
          font-weight: 800;
          line-height: 20px;
          margin-bottom: 0; }
        #product .feature ul li span {
          font-family: 'Roboto', sans-serif ;
          font-size: 17px;
          font-weight: 500;
          color: #444444;
          line-height: 20px; }
      #product .feature ul li:last-child {
        border-bottom: none; }
  #product .related-products .title-related {
    margin-top: 113px; }
    #product .related-products .title-related h1 {
      color: #4A4A4A;
      font-family: 'Roboto', sans-serif ;
      font-size: 20px;
      font-weight: 800;
      line-height: 24px; }
  #product .related-products-carousel {
    margin-top: 60px; }
    #product .related-products-carousel .product-box {
      position: relative;
      margin-bottom: 84px; }
      #product .related-products-carousel .product-box:hover .details {
        color: #FFFFFF;
        background: #1345D5;
        border-color: #1345D5;
        box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45); }
      #product .related-products-carousel .product-box .brand {
        margin-top: 30px; }
        #product .related-products-carousel .product-box .brand h6 {
          color: #4A4A4A;
          font-size: 18px;
          font-weight: 800;
          line-height: 21px; }
      #product .related-products-carousel .product-box .size p {
        color: #4A4A4A;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px; }
      #product .related-products-carousel .product-box .price {
        margin-bottom: 20px; }
        #product .related-products-carousel .product-box .price span {
          color: #4A4A4A;
          font-size: 20px;
          font-weight: 800;
          line-height: 24px;
          margin-right: 15px; }
        #product .related-products-carousel .product-box .price span.line-through {
          text-decoration: line-through;
          color: #777777; }
      #product .related-products-carousel .product-box .details {
        border: 1px solid #1345D5;
        border-radius: 3px;
        color: #1345D5;
        padding: 7px 23px; }
    #product .related-products-carousel .upper .img{
        height:260px;
    }
    #product .related-products-carousel .upper .img img {
        width: 100%;
        height: 100%;
    }
    #product .related-products-carousel .owl-nav {
      display: block !important; }
    #product .related-products-carousel:hover .owl-nav .owl-prev {
      opacity: 1;
      visibility: visible; }
    #product .related-products-carousel:hover .owl-nav .owl-next {
      opacity: 1;
      visibility: visible; }
    #product .related-products-carousel .owl-nav .owl-prev, #product .related-products-carousel .owl-next {
      color: #1345D5 !important;
      border-radius: 3px;
      font-size: 25px !important;
      height: 25px;
      line-height: 20px !important;
      position: absolute;
      text-align: center;
      top: 34%;
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
      width: 25px;
      opacity: 0;
      visibility: hidden; }
      #product .related-products-carousel .owl-nav .owl-prev:focus, #product .related-products-carousel .owl-next:focus {
        outline: none; }
      #product .related-products-carousel .owl-nav .owl-prev:hover, #product .related-products-carousel .owl-next:hover {
        background-color: #1345D5 !important;
        color: #FFFFFF !important; }
    #product .related-products-carousel .owl-next {
      left: auto;
      right: 0px; }
    #product .related-products-carousel .owl-prev {
      right: auto;
      left: -30px; }

/*# sourceMappingURL=style.css.map */
