@font-face {
    font-family: Visby-medium;
    src: url("../fonts/VisbyCF-Medium.woff");
}

.deactive {
    display: none !important;
}

body {
    font-weight: 800 !important;
    font-family: Visby-medium !important;
}

footer .logo img {
    width: 172px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

button, a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a:hover {
    text-decoration: none;
    color: none;
}

button:focus, input:focus, textarea:focus {
    outline: none;
    border: none;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

#google_map {
    height: 500px !important;
    width: 100%;
}

#header .top .social {
    display: inline-block;
}

    #header .top .social a i {
        width: 25px;
        height: 25px;
        background: #1345D5;
        color: #FFFFFF;
        text-align: center;
        border-radius: 100%;
        line-height: 1.5;
        margin: 10px 0;
    }

    #header .top .social a:hover {
        text-decoration: none;
    }

    #header .top .social a:nth-of-type(2) {
        margin-left: 9px;
    }

#header .top .contact {
    display: inline-block;
    margin-left: 21px;
}

    #header .top .contact i {
        transform: rotateY(180deg);
        font-size: 16px;
        color: #1345D5;
        margin-right: 5px;
    }

    #header .top .contact p {
        display: inline-block;
    }

#header .top .search-lang {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

    #header .top .search-lang .search-box {
        position: relative;
        margin-right: 15px;
    }

        #header .top .search-lang .search-box input {
            border-radius: 11.34px;
            background-color: #F2F2F2;
            padding: 2px 20px;
            font-weight: 500;
            border: none;
        }

        #header .top .search-lang .search-box i {
            position: absolute;
            right: 10px;
            top: 6px;
            color: #1345D5;
        }

        #header .top .search-lang .search-box input::placeholder {
            font-family: Visby-medium;
        }

    #header .top .search-lang .language-selector {
        margin-top: -2px;
    }

        #header .top .search-lang .language-selector img {
            transform: scale(1.5);
            margin-top: -1px;
            margin-right: 4px;
        }

        #header .top .search-lang .language-selector button {
            color: #4A4A4A;
            background: white;
            border: none;
            font-weight: 800;
            padding: 0;
            font-size: 21px;
        }

            #header .top .search-lang .language-selector button:focus {
                outline: none;
                border: none;
                box-shadow: none;
            }

            #header .top .search-lang .language-selector button::after {
                margin-left: 5px;
                color: #1345D5;
                vertical-align: 0.2em;
            }

        #header .top .search-lang .language-selector .dropdown-menu {
            transform: translate3d(9px, 31px, 0px) !important;
            min-width: 6rem;
        }

            #header .top .search-lang .language-selector .dropdown-menu .dropdown-item.active {
                background: #1345D5 !important;
            }

#header .bottom .navbar {
    background: #1345D5 !important;
}

    #header .bottom .navbar .nav-item {
        margin-right: 30px;
    }

        #header .bottom .navbar .nav-item .nav-link {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 18px !important;
            font-weight: 800 !important;
            color: #FFFFFF !important;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

            #header .bottom .navbar .nav-item .nav-link:hover {
                background: #FFFFFF;
                color: #1345D5 !important;
            }

    #header .bottom .navbar .log-reg .btn-sign button:first-of-type {
        border: 1px solid transparent !important;
    }

        #header .bottom .navbar .log-reg .btn-sign button:first-of-type:hover {
            background: #FFFFFF;
            color: #1345D5;
            border: 1px solid #1345D5 !important;
        }

    #header .bottom .navbar .log-reg .btn-sign .btn-cancel:hover {
        background: #1345D5 !important;
        color: #FFFFFF !important;
    }

    #header .bottom .navbar .log-reg .btn-group:first-child {
        margin-right: 25px;
    }

    #header .bottom .navbar .log-reg .dropdown-toggle {
        position: relative;
        cursor: pointer;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        background: transparent;
        color: #FFFFFF;
        font-weight: 800;
        padding: 3px 35px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        #header .bottom .navbar .log-reg .dropdown-toggle:hover {
            color: #1345D5 !important;
            background: #FFFFFF !important;
        }

        #header .bottom .navbar .log-reg .dropdown-toggle::after {
            display: none;
        }

    #header .bottom .navbar .log-reg .dropdown-menu {
        min-width: 18rem;
        padding: 0;
        margin-top: 18px;
    }

        #header .bottom .navbar .log-reg .dropdown-menu::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 24px;
            top: -9px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        }

        #header .bottom .navbar .log-reg .dropdown-menu form {
            padding-top: 0 !important;
        }

            #header .bottom .navbar .log-reg .dropdown-menu form .btn {
                background: #1345D5;
                border: none;
            }

            #header .bottom .navbar .log-reg .dropdown-menu form input {
                border-radius: 7px;
                background-color: #FFFFFF;
                box-shadow: 0 0 6px 2px rgba(187, 187, 187, 0.5);
            }

        #header .bottom .navbar .log-reg .dropdown-menu p {
            font-weight: 800;
            font-size: 16px;
            color: #1345D5;
            margin: 11px 16px;
        }

    #header .bottom .navbar .log-reg .dropdown-register {
        min-width: 35rem;
    }

    #header .bottom .navbar .log-reg .btn-cancel {
        margin-left: 12px;
        color: #1345D5 !important;
        border: 0.81px solid #1345D5 !important;
        border-radius: 2.43px;
        background: #FFFFFF !important;
    }

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 1200px) {
    .nav-item {
        margin-right: 13px !important;
    }

    .contact-form .btn-group {
        margin-top: 26px;
    }
}

@media (min-width: 992px) {
    .nav-link {
        padding: 26px 10px 18px;
        margin-bottom: 13px;
    }

    .navbar {
        padding: 0 1rem;
    }
}

@media (max-width: 992px) {
    #services .col-lg-4 {
        margin-bottom: 40px !important;
    }

    #tyres .sort {
        margin: 15px 44px 5px 15px !important;
    }

    #tyres .sorting .sort p:first-of-type {
        margin-right: 7px;
    }

    .contact-form {
        margin-top: 40px;
    }

    .dropdown-login {
        left: 0 !important;
        right: auto !important;
        min-width: 266px !important;
        margin-top: 9px !important;
    }

        .dropdown-login::before {
            left: 24px;
            top: -8px;
        }

    .dropdown-register {
        min-width: 266px !important;
        margin-top: 9px !important;
    }

        .dropdown-register::before {
            right: 24px;
            top: -8px;
        }

    .top {
        margin-bottom: 25px;
    }

        .top .social-contact {
            text-align: center;
        }

        .top .search-lang {
            justify-content: center !important;
        }
}

@media (max-width: 576px) {
    #search .title h1 {
        font-size: 50px !important;
        line-height: 66px !important;
    }

    .owl-prev {
        left: -14px !important;
    }

    .single-brand-logo {
        margin-right: 20px !important;
    }

    #about .title img {
        width: 70%;
    }

    #tyres .title {
        padding: 52px 70px 52px 70px !important;
    }

    #services-page .title {
        padding: 52px 20px 52px 34px !important;
    }

    #contact .title {
        padding: 52px 40px 52px 40px !important;
    }
}

@media (max-width: 351px) {
    .navbar .navbar-collapse {
        margin-left: 1rem !important;
    }

    .top .search-lang {
        flex-wrap: wrap;
    }

    .language-selector {
        margin-top: 15px !important;
    }
}

#search {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
    background: url("../img/Searchback.jpg") no-repeat center bottom;
    background-size: cover;
}

    #search .overlay {
        opacity: 0.67;
        background: #000000;
    }

    #search .title {
        padding: 0 35px;
    }

        #search .title h1 {
            text-align: left;
            font-weight: 800;
            font-size: 77px;
            line-height: 90px;
            letter-spacing: normal;
            color: #FFFFFF;
        }

    #search .search-area {
        margin-bottom: 50px;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0.66);
        padding: 35px;
    }

        #search .search-area .tab-content {
            display: none;
        }

            #search .search-area .tab-content.active {
                display: block;
            }

        #search .search-area .tab-list {
            margin-bottom: 27px;
        }

            #search .search-area .tab-list a:first-of-type {
                margin-right: 30px;
            }

            #search .search-area .tab-list a.active {
                color: #1345D5;
                text-decoration: none;
                border-bottom: 1px solid #1345D5;
            }

            #search .search-area .tab-list a {
                color: #4A4A4A;
                border-bottom: 1px solid transparent;
                padding-bottom: 1px;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }

                #search .search-area .tab-list a:hover {
                    color: #1345D5;
                    text-decoration: none;
                    border-bottom: 1px solid #1345D5;
                }

        #search .search-area .tab-content .dropdown-toggle {
            padding: 0 0.75rem !important;
            border-radius: 5px;
        }

            #search .search-area .tab-content .dropdown-toggle::after {
                display: none;
            }

        #search .search-area hr {
            background: #FFFFFF;
            opacity: 0.15;
        }

        #search .search-area .btnSearch {
            margin-bottom: 8px;
            background: #1345D5;
            color: #FFFFFF;
            padding: 5px 55px;
            border: none;
        }

            #search .search-area .btnSearch:hover {
                background: #FFFFFF;
                color: #1345D5;
            }

        #search .search-area .Reset {
            display: block;
            font-size: 12px;
            color: #000000;
        }

.form-group.range-slider {
    position: relative;
}

    .form-group.range-slider .slider {
        width: 97% !important;
        margin-bottom: 12px;
    }

        .form-group.range-slider .slider .slider-handle {
            height: 16px;
            width: 16px;
            background-color: #1345D5;
            background-image: none;
        }

        .form-group.range-slider .slider .slider-selection {
            background: #171C2A;
        }

    .form-group.range-slider p {
        text-align: left;
        color: #000000;
        font-family: Roboto;
        font-size: 12px;
        line-height: 14px;
    }

    .form-group.range-slider .tooltip.in {
        opacity: 0.9;
    }

    .form-group.range-slider b:first-of-type {
        left: 0px;
    }

    .form-group.range-slider b:last-of-type {
        right: 0;
    }

    .form-group.range-slider b {
        color: #000000;
        font-family: Roboto;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        top: 55px;
    }

#season {
    padding: 44px 0 0 0;
}

    #season .season-box {
        margin-bottom: 50px;
    }

        #season .season-box .upper {
            border-radius: 7px 7px 0 0;
            background-color: #F7F7F7;
        }

        #season .season-box .img {
            background-color: #F7F7F7;
            padding: 29px 39px 23px;
            overflow: hidden;
            height: 250px;
        }

            #season .season-box .img img {
                width: 97%;
                height: 100%;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }

        #season .season-box .lower {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 65px;
            background: #1345D5;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

            #season .season-box .lower h3 {
                line-height: 24px;
                font-size: 20px;
                text-transform: capitalize;
                color: #FFFFFF;
                font-weight: 800;
            }

        #season .season-box:hover img {
            transform: scale(1.2);
        }

#brand-carousel {
    background-color: #F7F7F7;
    padding: 20px 0 9px 0;
}

    #brand-carousel .single-brand-logo {
        margin-right: 40px;
    }

    #brand-carousel img {
        width: 100%;
        height: 60px;
        vertical-align: middle;
    }

    #brand-carousel .owl-nav {
        display: block !important;
    }

    #brand-carousel:hover .owl-nav .owl-prev {
        opacity: 1;
        visibility: visible;
    }

    #brand-carousel:hover .owl-nav .owl-next {
        opacity: 1;
        visibility: visible;
    }

    #brand-carousel .owl-nav .owl-prev, #brand-carousel .owl-next {
        color: #1345D5 !important;
        border-radius: 3px;
        font-size: 25px !important;
        height: 25px;
        line-height: 20px !important;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        width: 25px;
        opacity: 0;
        visibility: hidden;
    }

        #brand-carousel .owl-nav .owl-prev:focus, #brand-carousel .owl-next:focus {
            outline: none;
        }

        #brand-carousel .owl-nav .owl-prev:hover, #brand-carousel .owl-next:hover {
            background-color: #1345D5 !important;
            color: #FFFFFF !important;
        }

    #brand-carousel .owl-next {
        left: auto;
        right: 0px;
    }

    #brand-carousel .owl-prev {
        right: auto;
        left: -30px;
    }

#brand-carousel {
    background-color: #F7F7F7;
    padding: 20px 0 9px 0;
}

    #brand-carousel .single-brand-logo {
        margin-right: 40px;
    }

    #brand-carousel img {
        width: 100%;
        height: 60px;
        vertical-align: middle;
    }

    #brand-carousel .owl-nav {
        display: block !important;
    }

    #brand-carousel:hover .owl-nav .owl-prev {
        opacity: 1;
        visibility: visible;
    }

    #brand-carousel:hover .owl-nav .owl-next {
        opacity: 1;
        visibility: visible;
    }

    #brand-carousel .owl-nav .owl-prev, #brand-carousel .owl-next {
        color: #1345D5 !important;
        border-radius: 3px;
        font-size: 25px !important;
        height: 25px;
        line-height: 20px !important;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        width: 25px;
        opacity: 0;
        visibility: hidden;
    }

        #brand-carousel .owl-nav .owl-prev:focus, #brand-carousel .owl-next:focus {
            outline: none;
        }

        #brand-carousel .owl-nav .owl-prev:hover, #brand-carousel .owl-next:hover {
            background-color: #1345D5 !important;
            color: #FFFFFF !important;
        }

    #brand-carousel .owl-next {
        left: auto;
        right: 0px;
    }

    #brand-carousel .owl-prev {
        right: auto;
        left: -30px;
    }

#find-all {
    position: relative;
    padding: 163px 0;
    background: url("../img/car-back.jpg") no-repeat center bottom;
    background-size: cover;
}

    #find-all .overlay {
        opacity: 0.6;
        background-color: #000000;
    }

    #find-all h2 {
        font-size: 70px;
        color: #FFFFFF;
        line-height: 78px;
        font-weight: 800;
    }

    #find-all h4 {
        font-weight: 800;
        font-size: 35px;
        color: #FFFFFF;
        line-height: 78px;
        margin-bottom: 50px;
    }

    #find-all a {
        margin-top: 50px;
        border-radius: 3px;
        color: #FFFFFF;
        padding: 13px 40px 18px;
        background-color: #1345D5;
        box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45);
    }

        #find-all a:hover {
            background: #FFFFFF;
            color: #1345D5;
        }

#products {
    padding: 59px 0 0 0;
}

    #products .title {
        margin-bottom: 53px;
        font-weight: 800;
        color: #4A4A4A;
        font-size: 30px;
    }

    #products .product-box {
        margin-bottom: 84px;
    }

        #products .product-box:hover .details {
            color: #FFFFFF;
            background: #1345D5;
            border-color: #1345D5;
            box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45);
        }

        #products .product-box .brand {
            margin-top: 30px;
        }

            #products .product-box .brand h6 {
                color: #4A4A4A;
                font-size: 18px;
                font-weight: 800;
                line-height: 21px;
            }

        #products .product-box .size p {
            color: #4A4A4A;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
        }

        #products .product-box .price {
            margin-bottom: 20px;
        }

            #products .product-box .price > span {
                color: #4A4A4A;
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                margin-right: 9px;
                position: relative;
            }
                #products .product-box .price span .manat {
                    position: absolute;
                    top: -12px;
                    right: -15px;
                }

                #products .product-box .price span.line-through {
                    text-decoration: line-through;
                    color: #777777;
                }
                #products .product-box .price span.line-through {
                    color: #777777;
                }

                    #products .product-box .details {
                        border: 1px solid #1345D5;
                        border-radius: 3px;
                        color: #1345D5;
                        padding: 7px 23px;
                    }

    #products .upper {
        box-shadow: 0 10px 0 #fff, 0 0 10px #ccc;
    }

        #products .upper .img img {
            width: 100%;
            height: 100%;
        }

#services {
    position: relative;
    background: url("../img/services-back.jpg") no-repeat center bottom;
    background-size: cover;
    padding-top: 67px;
}

    #services .overlay {
        opacity: 0.48;
        background-color: #000000;
    }

    #services .col-lg-12 .title {
        margin-bottom: 100px;
    }

        #services .col-lg-12 .title h1 {
            line-height: 61px;
            font-size: 50px;
            color: #FFFFFF;
            font-weight: 800;
        }

    #services .col-lg-4 {
        margin-bottom: 107px;
    }

        #services .col-lg-4 .title h6 {
            color: #FFFFFF;
            font-weight: 500;
        }

        #services .col-lg-4 .content p {
            text-align: justify;
            font-weight: 500;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 18px;
        }

#terms {
    padding-top: 47px;
}

    #terms .box {
        border: 1px solid #9797974a;
        padding: 38px 34px;
        margin-bottom: 47px;
        border-radius: 24px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

        #terms .box .icon {
            margin-bottom: 23px;
        }

            #terms .box .icon i {
                font-size: 47px;
                color: #1345D5;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }

            #terms .box .icon .fa-phone {
                transform: rotateY(180deg);
            }

        #terms .box .title p {
            font-size: 14px;
            line-height: 25px;
            color: #4A4A4A;
            font-weight: 800;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

        #terms .box .content p {
            font-size: 14px;
            line-height: 25px;
            color: #4A4A4A;
            font-weight: 500;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

        #terms .box:hover {
            background: #1345D5;
            box-shadow: 0 0 10px 0 rgba(0, 47, 183, 0.59);
        }

            #terms .box:hover .icon i {
                color: #FFFFFF;
            }

            #terms .box:hover p {
                color: #FFFFFF;
            }

footer {
    background-color: #F7F7F7;
    padding-top: 40px;
}

    footer .logo {
        margin-bottom: 36px;
    }

    footer .info {
        display: flex;
    }

        footer .info i {
            color: #1345D5;
            font-size: 15px;
            margin-right: 7px;
            margin-top: 5px;
        }

        footer .info .fa-phone {
            transform: rotateY(180deg);
        }

    footer .social {
        display: inline-block;
    }

        footer .social a i {
            width: 25px;
            height: 25px;
            background: #1345D5;
            color: #FFFFFF;
            text-align: center;
            border-radius: 100%;
            line-height: 1.5;
            margin: 10px 0;
        }

        footer .social a:hover {
            text-decoration: none;
        }

        footer .social a:nth-of-type(2) {
            margin-left: 9px;
        }

    footer .col-lg-12 p {
        color: #4A4A4A;
        font-family: "Visby CF";
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
    }

#about {
    padding: 100px 0;
}

    #about .title {
        margin-bottom: 81px;
        text-align: center;
    }

    #about .content p {
        margin-bottom: 25px;
        font-size: 26px;
        line-height: 35px;
        color: #4A4A4A;
        text-align: justify;
    }

#tyres {
    padding: 100px 0;
}

    #tyres .title {
        margin-bottom: 81px;
        text-align: center;
        padding: 88px 165px 88px 140px;
        display: inline-block;
        background: url("../img/group-3.png") no-repeat center center;
        background-size: cover;
    }

        #tyres .title h1 {
            color: #4A4A4A;
            font-family: "Visby CF";
            font-size: 65px;
            font-weight: 800;
            line-height: 35px;
            text-align: center;
        }

    #tyres .products {
        margin-top: 51px;
    }

    #tyres .sorting {
        border-radius: 7px;
        background-color: #1345D5;
    }

        #tyres .sorting .sort {
            display: flex;
            margin: 15px 44px 5px 0;
        }

            #tyres .sorting .sort p {
                color: #FFFFFF;
                font-family: "Visby CF";
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                width: 90px;
                margin-top: 8px;
            }

    #tyres .product-box {
        margin-bottom: 84px;
    }

        #tyres .product-box:hover .details {
            color: #FFFFFF;
            background: #1345D5;
            border-color: #1345D5;
            box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45);
        }

        #tyres .product-box .brand {
            margin-top: 30px;
        }

            #tyres .product-box .brand h6 {
                color: #4A4A4A;
                font-size: 18px;
                font-weight: 800;
                line-height: 21px;
            }

        #tyres .product-box .size p {
            color: #4A4A4A;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
        }

        #tyres .product-box .price p {
            color: #4A4A4A;
            font-size: 20px;
            font-weight: 800;
            line-height: 24px;
        }

        #tyres .product-box .details {
            border: 1px solid #1345D5;
            border-radius: 3px;
            color: #1345D5;
            padding: 7px 23px;
        }

    #tyres .upper {
        box-shadow: 0 10px 0 #fff, 0 0 10px #ccc;
    }

        #tyres .upper .img img {
            width: 100%;
            height: 100%;
        }

    #tyres .page-item.active .page-link {
        background: #1345D5;
        color: #FFFFFF;
    }

    #tyres .page-link {
        color: #4A4A4A;
        border: none;
        font-size: 17px;
        font-weight: 500;
        padding: 1px 6px;
        margin: 8px;
    }

        #tyres .page-link i {
            color: #1345D5;
        }

    #tyres .next:hover, #tyres .prev:hover {
        background: #1345D5;
    }

        #tyres .next:hover i, #tyres .prev:hover i {
            color: #FFFFFF;
        }

#contact {
    padding: 100px 0;
}

    #contact .title {
        margin-bottom: 81px;
        text-align: center;
        padding: 88px 165px 88px 140px;
        display: inline-block;
        background: url("../img/group-3.png") no-repeat center center;
        background-size: cover;
    }

        #contact .title h1 {
            color: #4A4A4A;
            font-family: "Visby CF";
            font-size: 65px;
            font-weight: 800;
            line-height: 35px;
            text-align: center;
        }

    #contact .contact-box {
        background: #1345D5;
        padding: 103px 115px 85px 44px;
    }

        #contact .contact-box .content p {
            color: #FFFFFF;
            font-family: "Visby CF";
            font-size: 16px;
            font-weight: 800;
            line-height: 25px;
            text-align: left;
        }

    #contact .contact-form input, #contact .contact-form textarea {
        display: block;
        border-radius: 7px;
        background-color: #F6F6F6;
        border: none;
        width: 100%;
        padding: 10px 12px;
    }

    #contact .contact-form button {
        padding: 7px 33px;
        border: none;
        border-radius: 3px;
        margin-right: 15px;
    }

        #contact .contact-form button:first-of-type {
            background: #1345D5;
            color: #FFFFFF;
        }

            #contact .contact-form button:first-of-type:hover {
                box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45);
            }

        #contact .contact-form button:last-of-type {
            background: #FFFFFF;
            color: #1345D5;
            border: 1px solid #1345D5;
        }

            #contact .contact-form button:last-of-type:hover {
                box-shadow: 0 0 8px 0 rgba(19, 69, 213, 0.45);
            }

#map {
    margin-bottom: 105px;
}

    #map .container #google_map {
        border-radius: 7px;
    }

#services-page {
    padding: 100px 0;
}

    #services-page .title {
        margin-bottom: 81px;
        text-align: center;
        padding: 88px 165px 88px 140px;
        display: inline-block;
        background: url("../img/group-3.png") no-repeat center center;
        background-size: cover;
    }

        #services-page .title h1 {
            color: #4A4A4A;
            font-family: "Visby CF";
            font-size: 65px;
            font-weight: 800;
            line-height: 35px;
            text-align: center;
        }

    #services-page .service-box {
        margin-bottom: 125px;
    }

        #services-page .service-box .img {
            display: inline-block;
            padding: 29px;
            margin-bottom: 30px;
            background-color: #F7F7F7;
            box-shadow: 0 0 13px 0 rgba(176, 176, 176, 0.44);
            border-radius: 100%;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

            #services-page .service-box .img:hover {
                background-color: #1345D5;
                box-shadow: 0 0 13px 0 rgba(176, 176, 176, 0.44);
            }

            #services-page .service-box .img img:last-of-type {
                display: none;
            }

        #services-page .service-box h4 {
            color: #4A4A4A;
            font-family: "Visby CF";
            font-size: 17px;
            font-weight: 800;
            line-height: 20px;
        }

    #services-page .service-img {
        position: relative;
    }

    #services-page .row.justify-content-end {
        position: relative;
    }

        #services-page .row.justify-content-end .row {
            position: absolute;
            z-index: 5;
            top: 75%;
            left: 0;
        }

    #services-page .service-text {
        background-color: #1345D5;
        box-shadow: 0 7px 23px 0 rgba(0, 0, 0, 0.3);
        padding: 17px 26px;
    }

        #services-page .service-text p {
            color: #FFFFFF;
            font-family: "Visby CF";
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            text-align: justify;
        }

        #services-page .service-text .moreBtn {
            color: #FFFFFF;
            font-family: "Visby CF";
            font-size: 16px;
            font-weight: 800;
            line-height: 19px;
            text-decoration: underline;
        }

/*# sourceMappingURL=style.css.map */
