<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\ISMAYIL\Desktop\Wheel.User.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Wheel.User</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="wheelEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.77.120;Initial Catalog=wheel;Integrated Security=False;User ID=wheel;Password=WheeL2016@!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=192.168.77.120;Initial Catalog=wheel;Integrated Security=False;User ID=wheel;Password=WheeL2016@!;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Wheel.DAL.Context.wheelEntities, Wheel.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Wheel" Order="2" Enabled="False">
          <Destination Path="Data Source=80.69.49.84;Initial Catalog=wheel;Integrated Security=False;User ID=wheel;Password=WheeL2016@!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=80.69.49.84;Initial Catalog=wheel;Integrated Security=False;User ID=wheel;Password=WheeL2016@!;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Wheel.DAL.Context.WheelDbContext, Wheel.DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Wheel-Web.config Connection String">
      <ParameterValue>Data Source=80.69.49.84;Initial Catalog=wheel;Integrated Security=False;User ID=wheel;Password=WheeL2016@!;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wheelEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Context.WheelModel.csdl|res://*/Context.WheelModel.ssdl|res://*/Context.WheelModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.77.120;Initial Catalog=wheel;Integrated Security=False;User ID=wheel;Password=WheeL2016@!;MultipleActiveResultSets=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>